:root {
	--white: #ffffff;
	--blue-white: #bae6fd;
	--blue: #0b99db;
	--golden: #facc15;
	--black: #020617;
	--grey: #e2e8f0;
}

#container {
	display: grid;

	grid-template-columns: min(220px, 25vw) 5fr;
	grid-template-rows: min(150px, 20vh) 1fr;
	grid-template-areas: "sidebar header" "sidebar main";

	min-height: 100vh;
}

#sidebar {
	grid-area: sidebar;
	background-color: var(--blue);
	color: var(--white);

	padding-left: 0.5rem;
	padding-top: 1rem;

	display: flex;
	flex-direction: column;
	gap: 2.5rem;
}

#header {
	background-color: var(--white);
	grid-area: header;

	display: grid;
	grid-template-rows: 1fr 2fr;
	padding: 0.2rem 2rem;
}

#main {
	background-color: var(--grey);
	grid-area: main;
}

.mid-icon {
	width: 3ch;
	height: 3ch;
}

.small-icon {
	width: 1.5ch;
	height: 1.5ch;
}

.inverse-clr {
	-webkit-filter: invert(1);
	filter: invert(1);
}

.sidebar-title h1 {
	font-size: 1rem;
	font-weight: 700;
}

.sidebar-btns {
	padding-left: 0.7rem;

	display: flex;
	flex-direction: column;
	gap: 0.6rem;
}

.sidebar-title,
.sidebar-btn {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.sidebar-btn {
	font-size: 0.8rem;
	font-weight: 600;
	gap: 1rem;
}

.clickable {
	cursor: pointer;
}

#header > .top,
#header > .actions {
	display: flex;
	gap: 1rem;
	align-items: center;
}

#header > .top > h2 {
	font-size: 1rem;
}

#search {
	flex: 1;
	margin-right: 3rem;
	height: 1.2rem;
	border: none;

	background-color: var(--grey);
	border-radius: 32px;
}

.header-greet {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.header-greet h1 {
	font-size: 0.85rem;
}

.header-greet p {
	font-size: 0.6rem;
	font-weight: 600;
}

.header-btn {
	border: none;
	border-radius: 16px;
	background-color: var(--blue);
	color: white;
	padding: 0.25rem 1.25rem;
	font-size: 0.7rem;
	font-weight: 600;
}

.small-profile-pic {
	border-radius: 50%;
	width: 1.5rem;
	height: 1.5rem;
}

.big-profile-pic {
	border-radius: 50%;
	width: 3rem;
	height: 3rem;
}
