:root {
	--white: #f0f9ff;
	--blue-white: #bae6fd;
	--blue: #0b99db;
	--golden: #facc15;
	--black: #020617;
	--grey: #e2e8f0;
}

#container {
	display: grid;

	grid-template-columns: min(250px, 25vw) 5fr;
	grid-template-rows: 150px 1fr;
	grid-template-areas: "sidebar header" "sidebar main";

	min-height: 100vh;
}

#sidebar {
	grid-area: sidebar;
	background-color: var(--blue);
	color: var(--white);

	padding-left: 0.5rem;
	padding-top: 1rem;

	display: flex;
	flex-direction: column;
	gap: 2.5rem;
}

#header {
	background-color: var(--white);
	grid-area: header;
}

#main {
	background-color: var(--grey);
	grid-area: main;
}

.mid-icon {
	width: 3ch;
	height: 3ch;
}

.small-icon {
	width: 1.5ch;
	height: 1.5ch;
}

.inverse-clr {
	-webkit-filter: invert(1);
	filter: invert(1);
}

.sidebar-title h1 {
	font-size: 1rem;
	font-weight: 700;
}

.sidebar-btns {
	padding-left: 0.7rem;

	display: flex;
	flex-direction: column;
	gap: 0.6rem;
}

.sidebar-title,
.sidebar-btn {
	display: flex;
	align-items: center;
	gap: 0.5rem;

	cursor: pointer;
}

.sidebar-btn {
	font-size: 0.8rem;
	font-weight: 600;
	gap: 1rem;
}
