:root {
	--white: #f0f9ff;
	--blue-white: #bae6fd;
	--blue: #0ea5e9;
	--golden: #facc15;
	--black: #020617;
	--grey: #e2e8f0;
}

#container {
	display: grid;

	grid-template-columns: 1fr 6fr;
	grid-template-rows: 150px 1fr;
	grid-template-areas: "sidebar header" "sidebar main";

	height: 100%;
}

#sidebar {
	grid-area: sidebar;
	background-color: var(--blue);
	color: var(--white);

	padding: 0.7rem;

	display: flex;
	flex-direction: column;
	gap: 3rem;
}
#sidebar h1 {
	font-size: 1.5rem;
	font-weight: 700;
}

#header {
	background-color: var(--white);
	grid-area: header;
}

#main {
	background-color: var(--grey);
	grid-area: main;
}
